header {
    margin: 0;
    height: 87vh;
    background-image: url('bc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    position: relative;

}
.gau {
    height: 490px;
    width: 1100px;
    position: absolute;
    bottom: 90px;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    z-index: 999;
    /* text-align: center; */
    padding: 5px 32px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0, 75);
}
.cr{
    color: wheat;
    top: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

    
}
.link{
    display: flex;
    cursor: pointer;
    color: white;
    margin: 50px 0 40px 0 ;
}
.facebook, .instagram, .google{
    width: 100%;
    height: 52px;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 35px;
    border-radius: 10px;
}
.facebook{
    background: #4267B2;
    border: 1px solid #3e61a8;
    align-items: center;
    width: 290px;
    
}
.instagram{
    background: #E1306c;
    border: 1px solid #df2060;
    width: 290px;
}
.google{
    background: #4285f4;
    border: 1px solid #4267B2;
    width: 290px;
}
.linkedin, .github, .twitter{
    width: 100%;
    height: 52px;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 35px;
    border-radius: 10px;
}
.linkedin{
    background: #4267B2;
    border: 1px solid #3e61a8;
    align-items: center;
    width: 290px;
    
}
.github{
    background: #171515;
    border: 1px solid #3d2d00;
    width: 290px;
}
.twitter{
    background: #4285f4;
    border: 1px solid #4267B2;
    width: 290px;
}
.whatsapp, .phone{
    width: 100%;
    height: 52px;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 35px;
    border-radius: 10px;
}
.phone{
    background: #4267B2;
    border: 1px solid #3e61a8;
    align-items: center;
    width: 290px;
    
}

.whatsapp{
    background: #25d366;
    border: 1px solid #075e54;
    width: 290px;
}



.link{
    font-size: 27px;
}
.link span{
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 800;
    margin: 10px 10px;
    
}

.intro1{
    margin: 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.04);
    color: whitesmoke;
    display: inline-flex;
    border-radius: 10px;
    font-family: sans-serif;
}  
.fab{
    margin: 0 10px 0 50px;
    padding: 0 5px;

}
.link a{
    color: white;
    text-decoration: none;
}
.fa-phone{
    margin: 0 10px 0 60px;
    padding: 0 5px;


}
@media screen and (max-width:700px){
    *{
        margin: 0;
        padding: 0;
    }
    
     .box3{
         height: 200px;
         width: 200px;
         justify-content: center;
         margin: 10px 50px;
         padding: 2px 2px;
         font-size: 8px;
         align-items: center;
     }
     .assig{
         font-size: 20px;
         padding: 0 50px;
     }
     .box1{ margin: 10px 0 0 8px;
         justify-content: center;
         /* height: 200px; */
         /* width: 200px; */
     }
     .box2{margin: 10px 0 0 8px;
         justify-content: center;
         /* height: 200px; */
         /* width: 200px; */
     }
     .course{
         /* justify-content: center; */
         margin: 30px 0;
         flex-direction: row;
         flex-wrap: wrap;
     overflow: hidden;
     /* height: 150px; */
     /* width: 200px; */
     
     }
     .box5{
         margin: 10px 8px;
         padding: 0 5px;
     }
     .box4{
         margin: 0 8px;
     }
     .box5 p{
         margin: 0 3px;
     }
 nav ul {margin: 0;
     overflow: hidden;
     height: 235px;
     width: 356px;
     justify-content: center;
     flex-direction: column;
     /* display: inline-flex; */
     
     border-radius: 2px;
 position: relative;
 }
 .link{
    flex-direction: row;
    flex-wrap: wrap; 
 }
 
 
 
 .topic{
        font-size: 20px;
        margin: 15px 0 0 40px;
        justify-content: center;
        align-items: center;
        
        overflow: hidden;
    



 }
 .gautam{
     /* margin: 110px 0; */
     display: flex;
     align-items: center;
     height: 121px;
     background-color: black;
     border: 2px solid blueviolet;
     border-radius: 5px;
     color: white;
     /* font-family: cursive; */
     padding: 2px 0px 0px 60px ;
     
 
 
 }   .gau {
    height: 850px;
    width: 300px;
    position: absolute;
    bottom: 90px;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    z-index: 999;
    /* text-align: center; */
    padding: 5px 1px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0, 75);
}
.cr{
    color: cornsilk;

    text-align: center;
    font-family: cursive;
    

    
}
.my{
    left: 100px;
    display: inline-flex;
}
.intro{
    margin: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.04);
    color: #fdeef4;
    display: inline-flex;
    border-radius: 10px;
    /* font-family: sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro1{
    margin: 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.04);
    color: whitesmoke;
    display: inline-flex;
    border-radius: 10px;
    font-family: sans-serif;
}  
header {
    margin: 0;
    height: 150vh;
    background-image: url('bc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    position: relative;

}.facebook, .instagram, .google{
    width: 100%;
    height: 52px;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}.linkedin, .github, .twitter{
    width: 100%;
    height: 52px;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
} 
.whatsapp, .phone{
    width: 100%;
    height: 52px;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
body{
    overflow-x:hidden ;
}
}