.ga{
    display: block;
}
.nav-links{
    display: block;
    position: absolute;
    background: #f44336;
    height: 180px;
    width: 120px;
    top: 0;
    right: -1px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
nav .fa{
    
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    
}
.ga{
    padding: 30px;

}
nav-links ga li::after{
    content: '';
    width: 2px;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.3s;

}
.nav-links{
    position: absolute;
   display: flex;
   align-items: center;
   margin: 0 165px;

}
.nav-links ul li a::after {
    height: 2px;
    width: 10px;
    background: #f44336;
    display: block;
    transition: 0.5s;
    margin: 0;



}

.nav-links{
    flex: 1;
    text-align: left;
    display: block;
}

*{
    margin: 0;
    padding: 0;
}
 header{
background-color: white;
     background-size: cover;
     height: 2000px;
     width: 458px;
     overflow: hidden;
 }
 .box3{
     height: 200px;
     width: 200px;
     justify-content: center;
     margin: 10px 50px;
     padding: 2px 2px;
     font-size: 8px;
     align-items: center;
 }
 .assig{
     font-size: 20px;
     padding: 0 50px;
 }
 .box1{ margin: 10px 0 0 8px;
     justify-content: center;
     /* height: 200px; */
     /* width: 200px; */
 }
 .box2{margin: 10px 0 0 8px;
     justify-content: center;
     /* height: 200px; */
     /* width: 200px; */
 }
 .course{
     /* justify-content: center; *
     /* flex-direction: row; */
     /* flex-wrap: wrap; */
     /* display: flex; */
     margin: 15px 50px;
     flex-wrap: wrap;
 /* height: 150px; */
 /* width: 200px; */

 }
 .box5{
     margin: 10px 8px;
     padding: 0 5px;
 }
 .box4{
     margin: 0 8px;
 }
 .box5 p{
     margin: 0 3px;
 }
nav ul {margin: 0;
 overflow: hidden;
 height: 180px;
 width: 457px;
 justify-content: center;
 flex-direction: column;
 /* display: inline-flex; */
 
 border-radius: 2px;
position: relative;
}



.topic{font-size: 20px;
 margin: 15px 0 0 0;
 justify-content: center;
 align-items: center;
 
 overflow: hidden;
}

@keyframes imgg{
    0%{
        background-image: url("WhatsApp\ Image\ 2022-04-24\ at\ 19.25.18.jpeg");
    }
    25%{
        background-image: url("WhatsApp\ Image\ 2022-04-24\ at\ 19.25.18.jpeg");
    }
    50%{
        background-image: url("WhatsApp Image 2022-04-24 at 19.25.18 (1).jpeg");
    }
    75%{
        background-image: url("newton.jpeg");
    }
    110%{
        background-image: url("sss.jpeg");
    }

} animation: imgg 4s 2s infinite reverse forwards;.nav-links ul li:hover::after {
    width: 100%;
}  content: '';
height: 2px;
width: 0;
background: black;
display: block;
transition: 0.5s;