@media screen and (max-width:320px){
    *{
        margin: 0;
        padding: 0;
    }
     .header1{
         background-size: cover;
         height: 2910px;
         width: 320px;
         overflow: hidden;
     }
     
 
 
     .box3{
         height: 200px;
         width: 200px;
         justify-content: center;
         margin: 10px 50px;
         padding: 2px 2px;
         font-size: 8px;
         align-items: center;
     }
     
     .assig{
         font-size: 20px;
         padding: 0 50px;
     }
     .box1{ margin: 50px 0 0 8px;
         justify-content: center;
         /* height: 200px; */
         /* width: 200px; */
     }
     .box2{margin: 10px 0 0 8px;
         justify-content: center;
         /* height: 200px; */
         /* width: 200px; */
     }
     .course{
         /* justify-content: center; */
         margin: 30px 0;
         flex-direction: row;
         flex-wrap: wrap;
     overflow: hidden;
     /* height: 150px; */
     /* width: 200px; */
     
     }
     .box5{
         margin: 10px 8px;
         padding: 0 5px;
     }
     .box4{
         margin: 0 8px;
     }
     .box5 p{
         margin: 0 3px;
     }
     .is{
         margin-left: 80px;
     }
     nav{
         margin-bottom: 200px;
     }
     nav ul{
         position: absolute;
         align-items: center;
         margin-bottom: 50px;
        height: 235px;
        width: 316px;
        display: block; 
        z-index: 3;
    }
    
    
 
 .topic{ 
     font-size: 20px;
     margin: 15px 0 0 40px;
     justify-content: center;
     align-items: center;
     
     overflow: hidden;
 }
 
 .gautam{
     /* margin: 110px 0; */
     display: flex;
     align-items: center;
     height: 121px;
     background-color: black;
     border: 2px solid blueviolet;
     border-radius: 5px;
     color: white;
     /* font-family: cursive; */
     padding: 2px 0px 0px 60px ;
 }
 
 
 
 
 .nav-links{
     margin: 0px;
     display: block;
     position: absolute;
     background: red;
     height: 50vh;
     width: 150px;
     top: 0;
     right: -151px;
     text-align: left;
     transition: 1s;
     border-radius: 10px;
     z-index: 2;
 
 }
 nav .fa{
     display: block;
     color: white;
     margin: 20px 0;
     font-size: 32px;
     cursor: pointer;
     text-align: center;
 }
 nav .fas{
     margin: 15px 110px;
 }
 
 
 }
 

@media screen and (max-width:700px){
    *{
        margin: 0;
        padding: 0;
    }
     .header1{
         background-size: cover;
         height: 1670px;
         width: 697px;
         overflow: hidden;
     }
     
 
 
     .box3{
         height: 200px;
         width: 200px;
         justify-content: center;
         margin: 10px 50px;
         padding: 2px 2px;
         font-size: 8px;
         align-items: center;
         margin: 10px 215px;
     }
     
     .assig{
         font-size: 20px;
         padding: 0 50px;
     }
     .box1{ margin: 10px 0 0 8px;
         justify-content: center;
         /* height: 200px; */
         /* width: 200px; */
     }
     .box2{margin: 10px 0 0 8px;
         justify-content: center;
         /* height: 200px; */
         /* width: 200px; */
     }
     .course{
         /* justify-content: center; */
         margin: 30px 30px;
         flex-direction: row;
         flex-wrap: wrap;
     overflow: hidden;
     /* height: 150px; */
     /* width: 200px; */
     
     }
     .box5{
         margin: 10px 8px;
         padding: 0 5px;
     }
     .box4{
         margin: 0 8px;
     }
     .box5 p{
         margin: 0 3px;
     }
     .is{
         margin-left: 80px;
     }
     nav{
         margin-bottom: 200px;
     }
     nav ul{
         position: absolute;
         align-items: center;
         margin-bottom: 50px;
        height: 135px;
        width: 697px;
        display: flex; 
        z-index: 3;
    }
    
    
 
 .topic{ 
     font-size: 20px;
     margin: 1px 0 0 20px;
     justify-content: center;
     align-items: center;
     
     overflow: hidden;
 }
 
 .gautam{
     /* margin: 110px 0; */
     display: flex;
     text-align: center;
     height: 121px;
     background-color: black;
     border: 2px solid blueviolet;
     border-radius: 5px;
     color: white;
     /* font-family: cursive; */
     padding: 2px 0px 0px 210px ;
 }
 
 
 
 
 .nav-links{
     margin: 0px;
     display: block;
     position: absolute;
     background: red;
     height: 50vh;
     width: 200px;
     top: 0;
     right: -201px;
     text-align: left;
     transition: 1s;
     border-radius: 10px;
     z-index: 2;
 
 }
 nav .fa{
     display: block;
     color: white;
     margin: 20px 0;
     font-size: 32px;
     cursor: pointer;
     text-align: center;
 }
 nav .fas{
     margin: 15px 22px;
 }
 
 
 }
 